{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>AdresseId</th>
                <th>AdresseNomcomplet</th>
                <th>AdresseEntreprise</th>
                <th>AdresseNumeroRue</th>
                <th>AdresseCodepostal</th>
                <th>AdresseVille</th>
                <th>AdressePays</th>
                <th>AdresseTelephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.adresseId }}</td>
                <td>{{ adresse.adresseNomcomplet }}</td>
                <td>{{ adresse.adresseEntreprise }}</td>
                <td>{{ adresse.adresseNumeroRue }}</td>
                <td>{{ adresse.adresseCodepostal }}</td>
                <td>{{ adresse.adresseVille }}</td>
                <td>{{ adresse.adressePays }}</td>
                <td>{{ adresse.adresseTelephone }}</td>
                <td>
                    <a href="{{ path('adresse_show', {'adresseId': adresse.adresseId}) }}">show</a>
                    <a href="{{ path('adresse_edit', {'adresseId': adresse.adresseId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adresse_new') }}">Ajouter une adresse</a>
{% endblock %}
